<%= form_for(@user, html: {class: "ui form"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="two fields">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
      <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="field">
    <%= f.label :access_level %>
    <%= f.select :access_level, access_levels, {include_blank: "Select One"}, class: "ui dropdown" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="field">
    <%= f.label :subscription_ids, "Subscriptions" %>
    <%= f.collection_select :subscription_ids, Subscription.all, :id, :name, {}, class: "ui dropdown", multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "ui grey button" %>
  </div>
<% end %>
