<p id="notice"><%= notice %></p>

<h1>Subscriptions</h1>

<table class="ui table">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td class="action"><%= link_to (content_tag :i, nil, class: "edit icon"), edit_subscription_path(subscription) %></td>
        <td class="action"><%= link_to (content_tag :i, nil, class: "remove icon"), subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= subscription.name %></td>
        <td><%= subscription.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path, class: "ui blue button" %>
