<%= form_for(@post, html: { class: "ui form" }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="fields">
    <div class="twelve wide field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="one wide field"></div>
    <div class="three wide field">
      <%= f.label :published %>
      <div class="ui toggle checkbox">
        <%= f.check_box :published, {}, "true", "false" %> 
      </div>
    </div>
  </div>  
  <div class="fields">
    <div class="six wide field">
      <%= f.label :user_ids, "Authors" %>
      <%= f.collection_select :user_ids, User.all, :id, :full_name, {}, class: "ui dropdown", multiple: true %>
    </div>
    <div class="three wide field">
      <%= f.label :time_savings %>
      <%= f.select :time_savings, options_for_select(value_scale, f.object.time_savings), {}, class: "ui dropdown" %>
    </div>
    <div class="three wide field">
      <%= f.label :money_savings %>
      <%= f.select :money_savings, options_for_select(value_scale, f.object.money_savings), {}, class: "ui dropdown" %>
    </div>
    <div class="three wide field">
      <%= f.label :quality_add %>
      <%= f.select :quality_add, options_for_select(value_scale, f.object.quality_add), {}, class: "ui dropdown" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.trix_editor :content %>
  </div>
  <h4 class="ui dividing header">Steps</h4>
  <div id="post_steps" class="ui small list" data-post="<%= @post.id.to_s %>">
    <%= f.fields_for :upgrade_steps do |step| %>
      <%= render "posts/step", step: step %>
    <% end %>
  </div>
  <div class="field">
    <%= link_to_add_step "Add Step", f, :upgrade_steps %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "ui blue button" %>
  </div>
<% end %>
