<p id="notice"><%= notice %></p>

<h1>Listing Upgrade Steps</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upgrade_steps.each do |upgrade_step| %>
      <tr>
        <td><%= link_to 'Show', upgrade_step %></td>
        <td><%= link_to 'Edit', edit_upgrade_step_path(upgrade_step) %></td>
        <td><%= link_to 'Destroy', upgrade_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upgrade step', new_upgrade_step_path %>
