<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.jsdelivr.net/gh/kimmobrunfeldt/progressbar.js@1.0.0/dist/progressbar.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>