<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/menu' %>

  <div class="pusher">
    <% if params[:controller] == "main" %>
      <%= yield %>
    <% else %>
      <div class="ui container">
        <%= yield %>
      </div>
    <% end %>
  </div>
</body>
</html>
