<!DOCTYPE html>
<html>
<%= render "layouts/header" %>
<body style="<%= 'background-color: #DADADA;' if params[:controller] == "sessions" %>">
  <%= render 'layouts/menu' if show_menu? %>
  <% if params[:controller] == "sessions" %>
    <%= yield %>
  <% else %>
    <div class="pusher">
      <% if params[:controller] == "main" %>
        <%= yield %>
      <% else %>
        <div class="ui container">
          <%= yield %>
        </div>
      <% end %>
    </div>
  <% end %>
</body>
</html>
